[Desktop Entry]
Version=1.0
Type=Application

Name=LISTEN.moe
Comment=A cute little radio app. Powered by LISTEN.moe!
Categories=AudioVideo;Player;

Icon=io.github.noobping.listenmoe
Exec=listenmoe
Terminal=false