[Desktop Entry]
Version=1.0
Type=Application

Name=ListenMoe Radio
Comment=Listen to J-POP/K-POP
Categories=AudioVideo;Player;

Icon=io.github.noobping.listenmoe
Exec=listenmoe
Terminal=false