[Desktop Entry]
Type=Application
Version=0.2.0
Name=listenmoe
Comment=The world's cutest radio. Powered by LISTEN.moe!
Exec=listenmoe %u
Icon=io.github.noobping.listenmoe
Terminal=false
Categories=AudioVideo;Player;
