name: Windows GTK4 Build

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build-windows:
    runs-on: windows-latest
    permissions:
      contents: write

    env:
      PKG_CONFIG_ALLOW_CROSS: 1
      MSYS2_PATH: C:\tools\msys64
      PKG_CONFIG_PATH: C:\tools\msys64\mingw64\lib\pkgconfig

    steps:
      - uses: actions/checkout@v4

      - name: Install MSYS2
        run: choco install msys2 --no-progress -y

      - name: Update MSYS2
        run: C:\tools\msys64\usr\bin\bash -lc "pacman -Syu --noconfirm"

      - name: Install GTK4 + Libadwaita
        run: |
          C:\tools\msys64\usr\bin\bash -lc "pacman -S --noconfirm mingw-w64-x86_64-toolchain"
          C:\tools\msys64\usr\bin\bash -lc "pacman -S --noconfirm mingw-w64-x86_64-gtk4"
          C:\tools\msys64\usr\bin\bash -lc "pacman -S --noconfirm mingw-w64-x86_64-libadwaita"
          C:\tools\msys64\usr\bin\bash -lc "pacman -S --noconfirm mingw-w64-x86_64-pkgconf"
          C:\tools\msys64\usr\bin\bash -lc "pacman -S --noconfirm mingw-w64-x86_64-make"

      - name: Add MSYS2 paths
        run: |
          echo "C:\tools\msys64\mingw64\bin" >> $env:GITHUB_PATH
          echo "C:\tools\msys64\usr\bin" >> $env:GITHUB_PATH

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add GNU Windows target
        run: rustup target add x86_64-pc-windows-gnu

      - name: Build
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: Create dist folder
        run: |
          mkdir dist
          copy target\x86_64-pc-windows-gnu\release\listenmoe.exe dist\

      - name: Copy GTK/libadwaita runtime DLLs
        run: |
          C:\tools\msys64\usr\bin\bash -lc ^
            "cp /mingw64/bin/libadwaita-1-0.dll \
                /mingw64/bin/libgtk-4-1.dll \
                /mingw64/bin/libgdk_pixbuf-2.0-0.dll \
                /mingw64/bin/libpango-1.0-0.dll \
                /mingw64/bin/libcairo-2.dll \
                /mingw64/bin/libgio-2.0-0.dll \
                /mingw64/bin/libglib-2.0-0.dll \
                /mingw64/bin/libgobject-2.0-0.dll \
                /c/dist/"

      - name: Zip dist
        run: powershell Compress-Archive dist listenmoe-windows.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: listenmoe-windows
          path: listenmoe-windows.zip

      - id: get_latest_release
        uses: pozetroninc/github-action-get-latest-release@v1
        with:
          repository: ${{ github.repository }}

      - name: Upload asset to release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.get_latest_release.outputs.release }}
          allowUpdates: true
          removeArtifacts: false
          artifacts: "listenmoe-windows.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
